<!-- 
    
/*

  File name : index.ejs
  Author's name :Vishwa Akhani
  StudentID :300913898
  App name :Favourite Book List App

*/

 -->


<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Favourite Books List </h3>
      <a href="/books/add" class="btn btn-primary mb-4"><i class="fa fa-plus"></i> Add a book</a>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover mt-3">
          <thead>
            <tr>
              <th>Title</th>
              <th class="text-center">Price</th>
              <th class="text-center">Author</th>
              <th class="text-center">Genre</th>
              <th class="text-center">Update</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < books.length; count++) { %>
            <tr>
              <td><%= books[count].Title %></td>
              <td class="text-center">$<%= books[count].Price %></td>
              <td class="text-center"><%= books[count].Author %></td>
              <td class="text-center"><%= books[count].Genre %></td>
              <td class="text-center"><a href="/books/<%= books[count]._id %> " class="btn btn-info mb-4"><i class="fa fa-edit"></i> </a></td>
              <td class="text-center"><a href="/books/delete/<%= books[count]._id %> " class="btn btn-danger mb-4"><i class="fa fa-trash"></i> </a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>